<p>Listener: @State.Value</p>

@foreach (var type in Enum.GetValues<ChildType>())
{
    <EventListenerGrandChild Type="type" />
}

@code
{
    [CascadingParameter] public GlobalState State { get; set; }

    public Task ForceRefreshAsync()
    {
        return InvokeAsync(StateHasChanged);
    }
}